<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>HomeMainServlet</display-name>
    <servlet-name>HomeMainServlet</servlet-name>
    <servlet-class>com.koreaIT.java.am.HomeMainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeMainServlet</servlet-name>
    <url-pattern>/HomeMainServlet</url-pattern>
  </servlet-mapping>
  <display-name>JSP_AM</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ArticleListServlet</display-name>
    <servlet-name>ArticleListServlet</servlet-name>
    <servlet-class>com.koreaIT.java.am.ArticleListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArticleListServlet</servlet-name>
    <url-pattern>/ArticleListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ArticleDetailServlet</display-name>
    <servlet-name>ArticleDetailServlet</servlet-name>
    <servlet-class>com.koreaIT.java.am.ArticleDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArticleDetailServlet</servlet-name>
    <url-pattern>/ArticleDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ArticleDoDeleteServlet</display-name>
    <servlet-name>ArticleDoDeleteServlet</servlet-name>
    <servlet-class>com.koreaIT.java.am.ArticleDoDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArticleDoDeleteServlet</servlet-name>
    <url-pattern>/ArticleDoDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ArticleWriteServlet</display-name>
    <servlet-name>ArticleWriteServlet</servlet-name>
    <servlet-class>com.koreaIT.java.am.ArticleWriteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArticleWriteServlet</servlet-name>
    <url-pattern>/ArticleWriteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberDoJoinServlet</display-name>
    <servlet-name>MemberDoJoinServlet</servlet-name>
    <servlet-class>com.koreaIT.java.am.MemberDoJoinServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberDoJoinServlet</servlet-name>
    <url-pattern>/MemberDoJoinServlet</url-pattern>
  </servlet-mapping>
</web-app>